ordo
ordo-win*
ordo-linux*
ordoprep*
Install.txt
MANUAL.pdf
manual.aux
dr.pdf
dr.tex
equation.pdf
equation.tex
gplnotice.txt
switches.txt
sources.txt
temp*.c
*.tar.gz
*~
*.o
*.pgn
*.csv
*.rb
*.sh
release/*
released/*
diff/*
data/*
pgn/*
papers/*
figures/*
windows/*
Ordo_ratings/*
differences/*
fit1d/*
merging/*
tmp/*
csvfolder/*
manchor_fix.c
merging2/*


