ordo
readme.pdf
ordo-win*
ordo-linux*
ordoprep*
sources.txt
gplnotice.txt
post.sh
readme.aux
switches.txt
install.txt
temp*.c
*.tar.gz
*~
*.o
*.pgn
*.csv
*.rb
*.sh
release/*
released/*
diff/*
data/*
pgn/*
papers/*
figures/*
windows/*
Ordo_ratings/*





