ordo
ordo-win*
ordo-linux*
ordoprep*
*~
*.o
*.pgn
*.csv
release/*
released/*
diff/*
data/*
pgn/*
temp*.c
sources.txt
*.rb
*.sh
gplnotice.txt
post.sh
papers/*
figures/*
readme.aux
readme.tex
switches.txt
*.tar.gz
